body, html {
    height: 100%;
}

.bg {
    background-image: url("jinhae_2012.jpg");
    background-color: #cccccc;
    height: 100%;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}